d-i preseed/include string preseed-common.cfg

d-i     partman-auto/choose_recipe      select  boot-root
d-i     partman-auto/expert_recipe      string  boot-root ::    \
                512 1024 1024 ext4                              \
                        $primary{ } $bootable{ }                \
                        method{ format } format{ }              \
                        use_filesystem{ } filesystem{ ext4 }    \
                        options/discard{ discard }              \
                        options/noatime{ noatime }              \
                        label{ BOOT } labeled_mount{ }          \
                        mountpoint{ /boot }                     \
                .                                               \
                3072 4000 -1 ext4                               \
                        $lvmok{ } lv_name{ root }               \
                        method{ format } format{ }              \
                        use_filesystem{ } filesystem{ ext4 }    \
                        options/discard{ discard }              \
                        options/noatime{ noatime }              \
                        label{ ROOT } labeled_mount{ }          \
                        mountpoint{ / }                         \
                .

# Can't leave empty space on LVM; see Debian bug#820788
